<h1>All Contacts</h1>

<ul>
  <% @contacts.each do |contact| %>
  <li><a href="/contacts/<%= contact.id %>/show_contact"><%= contact.first_name %> <%= contact.last_name %></a> <button><a href="/contacts/<%= contact.id %>/edit">EDIT</a></button> <button><a href="/contacts/<%= contact.id %>/delete">DELETE</a></button></li>
  <% end %>
</ul>