
<h1><%= @contact.first_name %> <%= @contact.last_name %></h1>

<p><strong>Email: </strong> <%= @contact.email %></p>
<p><strong>Notes: </strong></p>
<p><%= @contact.notes %></p>

<hr>

<h2>Are you sure you want to delete this contact?</h2>

<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="I AM SURE.">
</form>

<button><a href="/">NEVERMIND.</a></button>

